.App-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 50px auto 50px;
}

.App-header, .App-footer {
  grid-column: span 6;
  grid-row: span 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.App-header-item {
  margin: 0 auto;
}

.App-main {
  grid-column: span 6;
  grid-row: span 4;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 80%;
  margin: 0 auto;
}

